<div class="container">
  <div class="col-sm-12 nav-wrap">
      <div class="row">
            <div class="col-sm-3">
               <div class="row">
                    <h1 class="logo m-0">NatureCraftLandscapes</h1>
               </div>   
            </div>
            <div class="col-sm-9">
              <ul class="link d-flex align-items-center justify-content-end">
                <li><a routerLink="/" class="nav-text">Home</a></li>
                <li><a routerLink="/about" class="nav-text">About Us</a></li>
                <li><a routerLink="/services" class="nav-text">Services</a></li>
                <li><a>Contact</a></li>
                <li><a>Gallery</a></li>
              </ul>
            </div>
      </div>
  </div>
</div>
