<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="about" src="/assets/images/about-us.jpg" alt="">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="h1 mb-3">Who Are We?</h2>
            <p class="lead fs-4 text-secondary mb-3">we are passionate about transforming outdoor spaces into breathtaking landscapes that seamlessly integrate with the natural world. With a foundation built on innovation, sustainability, and client satisfaction, we take pride in offering a comprehensive range of landscaping and aquarium services that redefine the concept of outdoor living..</p>
            <p class="mb-5">Our mission is to create outdoor environments that go beyond aesthetics, elevating the quality of life for our clients. We are dedicated to harmonizing nature and design, implementing eco-friendly practices, and fostering sustainability in every facet of our work.</p>           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>