<section>
  <div class="container">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-4">
          <div class="card shadow-sm mb-3 mt-7">
            <img class="aqua-image" src="https://cdn.pixabay.com/photo/2024/01/31/14/12/house-8544205_1280.jpg" alt="Image">
            <div class="card-body">
              <h3 class="small fw-light">Landscape Design</h3>
              <p>
                Immerse yourself in the artistry of our landscaping expertise as we specialize in crafting breathtaking outdoor spaces that seamlessly harmonize with the beauty of nature.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm mb-3 mt-7">
            <img class="aqua-image" src="https://cdn.pixabay.com/photo/2024/01/23/17/41/goldfish-8527927_1280.jpg" alt="Image">
            <div class="card-body">
              <h3 class="small fw-light">Aquarium Setup</h3>
              <p>
                Dive into a realm of aquatic beauty with our specialized aquarium services, where we take pride in creating underwater masterpieces through our professional setup expertise.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm mb-3 mt-7">
            <img class="aqua-image" src="https://media.istockphoto.com/id/1341916662/vector/cartoon-young-man-woman-gardener-characters-working-and-gardening-holding-garden-tools.jpg?s=2048x2048&w=is&k=20&c=WvZ9vVubRH2fftN4Z-DunsPJFYv8VGhA5-MZDCAVYDw=" alt="Image">
            <div class="card-body">
              <h3 class="small fw-light">Landscape Maintenance</h3>
              <p>
                Our meticulous maintenance services are designed to uphold the inherent beauty of your landscape, providing comprehensive care that ensures your outdoor oasis thrives year-round.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card shadow-sm mb-3 mt-7">
            <img src="https://cdn.pixabay.com/photo/2024/01/18/18/12/ai-generated-8517424_960_720.jpg" alt="Image">
            <div class="aqua-image">
              <h3 class="small fw-light px-3 pt-3">Integrated Services</h3>
              <p class="px-3 pb-0">
                Experience the utmost convenience as we provide comprehensive landscape solutions under one roof, ensuring that every aspect of your outdoor space is thoughtfully considered and expertly addressed.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm mb-3 mt-7">
            <img class="aqua-image" src="https://cdn.pixabay.com/photo/2018/09/14/16/42/shake-hand-3677534_960_720.jpg" alt="Image">
            <div class="card-body">
              <h3 class="small fw-light">Client-Centric Approach</h3>
              <p>
               Customer satisfaction stands as the heartbeat of our endeavors, influencing and inspiring everything we do.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm mb-3 mt-7">
            <img class="aqua-image"  src="https://cdn.pixabay.com/photo/2020/11/09/04/12/tree-5725540_1280.jpg" alt="Image">
            <div class="card-body">
              <h3 class="small fw-light">Sustainability Focus</h3>
              <p>
                Our commitment to environmental stewardship is woven into the fabric of our landscaping and aquarium services. From inception to execution, we embrace eco-friendly practices, emphasizing sustainability in every aspect of our operations.</p>
            </div>
          </div>
        </div>
      </div>   
     </div>   
  </div>
</section>