.bg-image{
  width: 100%;
}
.align-items-center {
  margin-top: 3px;
}
.banner {
  position: relative;
  height: 500px;
  display: flex;
}
.banner-wrap {
  position: absolute;
  width:100% ;
  top: 30%;
}
.heading {
  font-size: 20px;
  font-weight: bold;
}
.read-more {
  color: green;
  font-weight: bold;
}