<section class="banner-holder">
  <div class="banner w-100">
    <img class="bg-image w-100" src="assets/images/moody-jpg.jpg" alt="">
    <div class=" banner-wrap">
      <div class="text-center text-white container">
        <h1>NatureCraftLandscapes</h1>
        <h4>Transforming Spaces with Natural Elegance</h4>
        <p>Using innovative design concepts,eco-friendly construction practices,and unmatched customer services our
          mission is to create extraordinary landscapes.</p>
      </div>
    </div>
  </div>
 </section>
 <section>
      <div class="container">
        <div class="col-sm-12 pt-5">
          <div class="row">
            <div class="col-sm-6">
              <img class="w-100" src="assets/images/about-us-home.jpg" alt="">
            </div>
            <div class="col-sm-6">
            <div class="w-100 pb-3 heading">About Us</div>
              <p>Established with a vision to bring creativity and sustainability to outdoor living, NatureCraft Landscapes has been a leader in the landscaping industry for over a decade. From humble beginnings, our journey has been fueled by a genuine love for nature and a desire to create outdoor environments that inspire and rejuvenate.</p>
              <a class="read-more" href="/about">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-5 mb-5">
          <div class="row">
            <div class="col-sm-6">
              <div class="w-100 pb-3 heading">Services</div>
              <p>
                At NatureCraft Landscapes, we offer an array of comprehensive landscaping services designed to transform your outdoor space into a harmonious blend of beauty, functionality, and sustainability. Our team of skilled professionals takes pride in providing personalized solutions tailored to meet the unique needs and aspirations of each client. From conceptualization to execution, we are committed to delivering unparalleled craftsmanship and attention to detail.</p>
              <a class="read-more" href="/services">Read more</a>
            </div>
            <div class="col-sm-6">
              <img class="w-100" src="assets/images/robot-mower-home.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
 </section>
 